
.illuminatefestival {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 700px;
    padding: 10px;
    margin: 20px;
}

.banner {

  &.a {
    display: flex;
    flex-direction: column;
    font-style: oblique;
    margin: 0 0 20px 0;
    
  }
}

.list {
      
  &.a {
    margin: 20px;
    .a ul li {list-style: circle;
    }
  }
}  
// .a ul li {list-style: circle;
// }
