
.body-final { 

  &.a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    max-width: 628px;
    height: 2400px;
    background-color: wheat;
  }

  &.b {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    min-width: 628px;
    max-width: 1024px;
    height: 1500px;
    background-color:black;
  }
  
  &.c {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    min-width: 1024px;
    max-width: 100%;
    height: 1500px;
    background-color:red;
  }

}

.header {

  &.a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1500px;
  width: 100%;
  background-color: black;
  }
  
}
