$primary-color: black;
$primary-color: white;
$primary-color: red;
$primary-color: blue;
$primary-color: aquamarine;
$primary-color: goldenrod;
$primary-color: lightpink;
$primary-color: #e5e5e5;
$primary-color: rgb(225, 201, 141);
